
AGENT_LABEL=University Portal
AGENT_SEED=change_me_to_exactly_32_chars_00
WALLET_KEY=demo-wallet-key-change-me


GENESIS_URL=https://test.bcovrin.vonx.io/genesis

PUBLIC_ENDPOINT=https://your-subdomain.ngrok-free.app
WEBHOOK_URL=http://host.docker.internal:3000/webhooks
ACAPY_ADMIN_URL=http://localhost:8031


PORT=3000
SESSION_SECRET=any-long-random-string-change-me


SCHEMA_ID=
CRED_DEF_ID=